.lesson-page .content {
    color: var(--primary);
    font-size: calc(0.3vw + 12px);
    align-items: center;
}

.lesson-page .content .actions
{
    width: 100%;
    display: flex;
}

.lesson-page .content .actions>*
{
    padding: 1vw 5vw;
    margin: auto;
}


.lesson-page #compose-comment {
    width: 90%;
    margin-top: 30px;
    user-select: text;
}

.lesson-page #compose-comment .button {
    float: right;
    padding: 2px 10px;
    margin-top: 20px;
    width: auto;
}

.lesson-page #compose-comment>div {
    display: flex;
    width: 100%;
}

.lesson-page #compose-comment .textarea
{
    margin-left: 1vw;
}



.lesson-page div#comments {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.lesson-page #comments a:visited {
    color: black;
}

.lesson-page #comments>* {
    margin-left: 0px;
}

.lesson-page .replies {
    margin-left: 40px;
}

.lesson-page .replies .replies {
    margin-left: 0px;
}

.lesson-page .comment {
    user-select: text;
    display: flex;
    width: 90%;
    flex-direction: column;
}

.lesson-page .comment img, .lesson-page #compose-comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.lesson-page .comment .text {
    display: inline-block;
    margin: auto 0 auto 20px;
    word-wrap: break-word;
    font-weight: 100;
    max-width: 90%;
    user-select: text;
}

.lesson-page .comment .author-name {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-left: 20px;
    user-select: text;
}

.lesson-page .comment>div:first-of-type {
    display: flex;
    margin: 15px 0;
}

.lesson-page .comment>div:first-of-type>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lesson-page .comment-like-dislike {
    user-select: none;
    display: flex;
    margin-left: 30px;
    margin-top: 0;
    color: grey;
    font-size: 15px;
    cursor: default;
}

.lesson-page .dislike-comment, .lesson-page .like-comment {
    font-size: 15px;
    margin-right: 10px;
}

.lesson-page .like-comment:hover, .lesson-page .dislike-comment:hover {
    cursor: default;
    color: black;
}

.lesson-page .comment-likes {
    margin-right: 20px;
}

.lesson-page .comment-likes, .lesson-page .comment-dislikes {
    min-width: 10px;
}

.lesson-page .collapse-replies, .lesson-page .show-replies {
    color: grey;
    margin-top: -10px;
    cursor: pointer;
}

.lesson-page .collapse-replies i, .lesson-page .show-replies i {
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
}