#compose-comment
{
    width: 90%;
    margin-top: 30px;
    user-select: text;
}

#compose-comment .button
{
    float: right;
    padding: 10px;
    margin-top: 20px;
}

#compose-comment>div
{
    display: flex;
    width: 100%;
}

#compose-comment textarea
{
    overflow: hidden;
    resize: none;
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
}

#compose-comment .textarea-wrapper::after
{
    content: attr(data-value) "  ";
    visibility: hidden;
}

#compose-comment textarea,
#compose-comment .textarea-wrapper::after
{
    padding: 5px;
    grid-area: 1 / 1 / 2 / 2;
    font-size: 20px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    width: 100%;
}

.textarea-wrapper
{
    width: 100%;
    margin-left: 10px;
    display: grid;
}

#compose-comment textarea:focus
{
    border-color: black;
}

.textarea-wrapper>div
{
    background-color: grey;
    width: 96%;
    height: 1px;
    margin: 0 auto;
}

.textarea-wrapper textarea:focus+div
{
    background-color: black;
}

div#comments
{
    font-size: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

#comments a:visited
{
    color: black;
} 

#comments>*
{
    margin-left: 0px;
}

.replies
{
    margin-left: 40px;
}

.replies .replies
{
    margin-left: 0px;
}

.comment
{
    display: flex;
    width: 90%;
    flex-direction: column;
}

.comment img,
#compose-comment img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment .text
{
    display: inline-block;
    margin: auto 0 auto 20px;
    word-wrap: break-word;
    max-width: 90%;
    user-select: text;
}

.comment .author-name
{
    display: block;
    width: 100%;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 1000;
    user-select: text;
}

.comment>div:first-of-type
{
    display: flex;
    margin: 15px 0;
}

.comment>div:first-of-type>div
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment-like-dislike
{
    display: flex;
    margin-left: 30px;
    margin-top: 0;
    color: grey;
    font-size: 15px;
    cursor: default;
}

.dislike-comment,
.like-comment
{
    font-size: 15px;
    margin-right: 10px;
}

.dislike-comment[color = black],
.like-comment[color = black]
{
    color: black;
}

.dislike-comment[color = grey],
.like-comment[color = grey]
{
    color: grey;
}

.like-comment:hover,
.dislike-comment:hover
{

    cursor: default;
    color: black;
}

.comment-likes
{
    margin-right: 20px;
}

.comment-likes,
.comment-dislikes
{
    min-width: 10px;
}

.collapse-replies,
.show-replies
{
    font-size: 15px;
    color: grey;
    margin-top: -10px;
}

.collapse-replies i,
.show-replies i
{
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
}
