.lesson-page .content {
    color: var(--primary);
    font-size: calc(0.3vw + 12px);
}

.lesson-page .content .actions
{
    width: 50%;
    align-self: center;
}

.lesson-page .content .actions>*
{
    padding: 5px 30px;
}


.lesson-page .content .actions :nth-child(2)
{
    float: right;
}

#compose-comment {
    width: 90%;
    margin-top: 30px;
    user-select: text;
}

#compose-comment .button {
    float: right;
    padding: 2px 10px;
    margin-top: 20px;
    width: auto;
}

#compose-comment>div {
    display: flex;
    width: 100%;
}



div#comments {
    width: 90%;
    display: flex;
    flex-direction: column;
}

#comments a:visited {
    color: black;
}

#comments>* {
    margin-left: 0px;
}

.replies {
    margin-left: 40px;
}

.replies .replies {
    margin-left: 0px;
}

.comment {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.comment img, #compose-comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment .text {
    display: inline-block;
    margin: auto 0 auto 20px;
    word-wrap: break-word;
    font-weight: 100;
    max-width: 90%;
    user-select: text;
}

.comment .author-name {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-left: 20px;
    user-select: text;
}

.comment>div:first-of-type {
    display: flex;
    margin: 15px 0;
}

.comment>div:first-of-type>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment-like-dislike {
    display: flex;
    margin-left: 30px;
    margin-top: 0;
    color: grey;
    font-size: 15px;
    cursor: default;
}

.dislike-comment, .like-comment {
    font-size: 15px;
    margin-right: 10px;
}

.dislike-comment[color=black], .like-comment[color=black] {
    color: black;
}

.dislike-comment[color=grey], .like-comment[color=grey] {
    color: grey;
}

.like-comment:hover, .dislike-comment:hover {
    cursor: default;
    color: black;
}

.comment-likes {
    margin-right: 20px;
}

.comment-likes, .comment-dislikes {
    min-width: 10px;
}

.collapse-replies, .show-replies {
    font-size: 15px;
    color: grey;
    margin-top: -10px;
    cursor: pointer;
}

.collapse-replies i, .show-replies i {
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
}