.content 
{
    display: block !important;
}

.content .button
{
    width: 98%;
    padding: 10px calc(0.5% + 10px);
}

.content .topic
{
    margin: 10px;
    width: 100%;
}

.content .button img
{
    display: none;
}

.content .button-content
{
    margin: 0;
}

.content .topic .topic
{
    margin: 0;
    display: none;
    margin-left: 50px;
    transition: max-height 0.5s, margin 0.5s;
}

.topic>*
{
    text-align: start;
}

.topic>.button i
{
    transform: rotateZ(0deg);
    transition: transform 0.25s;

    display: inline-block;
    width: 10px;
    margin: 0 10px;
    font-size: 20px
}

.topic>.button h4
{
    display: inline;
    margin-left: 10px;
}