.content 
{
    display: block !important;
}

.content .button
{
    width: 98%;
    padding: 10px 1%;
}

.content .topic
{
    margin: 10px;
    width: 100%;
}

.content .button img
{
    display: none;
}

.content .button:hover img
{
    display: block;
}

.content .button-content
{
    margin: 0;
}

.content .topic .topic
{
    margin: 0;
    display: none;
    margin-left: 50px;
    transition: max-height 0.5s, margin 0.5s;
}

.topic>.button i
{
    transform: rotateZ(0deg);
    transition: transform 0.25s;
}