.dark .background.light,
.background.dark
{
    display: none;
}

.dark .background.dark,
.background.light
{
    display: block;
}

.auth-page
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}