.auth-page .form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    margin-top: 10%;
    transition: all 0.5s;
}

.dark .auth-page .form
{
    border: 3px solid white;
    z-index: 1;
}

.auth-page .home {
    display: none;
    min-height: 60px;
    padding: 1vh;
    box-sizing: border-box;
    width: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: 10;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.auth-page .home img {
    width: 50px;
}

.dark .auth-page .home .light, 
.auth-page .home .dark {
    display: block;
}

.dark .auth-page .home .dark, 
.auth-page .home .light {
    display: none;
}

.auth-page .form .title {
    display: none;
    color: var(--primary);
    z-index: 0;
    font-size: 30px;
    margin: auto 0;
}

.auth-page .form .input {
    width: 90%;
    --font-size: calc(15px + 0vw);
    color: var(--text);
    margin: 0;
}

.auth-page .form .checkbox {
    height: 1em
}

.auth-page .error
{
    color: var(--error);
    font-weight: bold;
    font-size: 12px;
    width: 90%;
    text-align: center;
}

.auth-page .form .submit {
    padding: 10px calc(30px - 1vw);
    margin: auto 0;
    border-radius: calc(15px - 0.7vw);
}

.auth-page .form .loading
{
    opacity: 0.5;
    --scale: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.auth-page .redirect {
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.auth-page .redirect .button {
    margin-left: 0px;
    margin-top: 10px;
    background-color: var(--hidden);
    color: var(--very-dark-purple);
    padding: 5px 10px;
}

@media screen and (min-width: 400px) {
    .auth-page .redirect {
        flex-direction: row;
    }
    .auth-page .redirect .button {
        margin-left: 20px;
        margin-top: 0;
    }
    .auth-page .form .input {
        width: 80%;
    }
    .auth-page .error
    {
        width: 80%;
    }
}

@media screen and (min-width: 600px) {
    .auth-page .form {
        background-color: transparent;/*var(--background);*/
        width: calc(270px + 20%);
        height: 80%;
        border-radius: 15px;
        box-shadow: 5px 0 30px 0px black;
        margin-top: auto;
    }
    .auth-page .dark .form {
        box-shadow: 0 0 0 2px var(--very-light-cyan);
    }
    .auth-page .form .input {
        width: 80%;
    }

    .auth-page .home
    {
        position: static;
    }
}



@media screen and (min-height: 400px) {
    .auth-page .home
    {
        display: block;
    }

    .auth-page .form .title {
        display: block;
    }

    .auth-page .redirect {
        margin-bottom: 10px;
        margin-top: 5%;
    }

    .auth-page .form .checkbox {
        height: auto;
        /* margin: 10% 0 1% 10px; */
    }
}

@media screen and (min-height: 100px) {
    .auth-page .form .input
    {
        margin: 10px 0;
    }
}