.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: auto;
    transition: all 0.5s;
}

.auth-page .home {
    padding: 10px;
    box-sizing: border-box;
    width: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: 10;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.35s;
}

.auth-page .home img {
    width: 70px;
}

.dark .home .light, .home img {
    display: block;
}

.dark .home img, .home .light {
    display: none;
}

.form .title {
    display: none;
    color: var(--primary);
    font-size: 30px;
    margin: auto 0;
}

.form .input {
    width: 90%;
    --font-size: calc(10px + 0.5vw);
    color: var(--text);
}

.form .checkbox {
    height: auto;
    margin: 10% 0 1% 10px;
}

.form .submit {
    padding: calc(20px - 1vw) calc(50px - 2vw);
    margin: auto 0;
    background-color: var(--primary);
    border-radius: calc(25px - 1.5vw);
}

.redirect {
    margin-bottom: 10px;
    margin-top: 5%;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.redirect .button {
    margin-left: 0px;
    margin-top: 10px;
    background-color: var(--hidden);
    color: var(--very-dark-purple);
    padding: 5px 10px;
}

@media screen and (min-width: 400px) {
    .redirect {
        flex-direction: row;
    }
    .redirect .button {
        margin-left: 20px;
        margin-top: 0;
    }
    .form .input {
        width: 80%;
    }
}

@media screen and (min-width: 600px) {
    .form {
        background-color: var(--background);
        width: calc(270px + 20%);
        height: 80%;
        border-radius: 15px;
        box-shadow: 5px 0 30px 0px black;
        margin: auto;
    }
    .dark .form {
        box-shadow: 0 0 0 2px var(--very-light-cyan);
    }
    .form .title {
        margin: 30px 0 50px;
    }
    .form .input {
        width: 80%;
    }
}

@media screen and (min-height: 400px) {
    .form .title {
        display: block;
    }
    .form .checkbox {
        /* margin-top: 30px;
        margin-bottom: 30px; */
    }
}