.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: auto;

    transition: all 0.5s;
}

.home {
    padding: 10px;
    box-sizing: border-box;
    width: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: 10;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.35s;
}

.home img {
    width: 70px;
}

.dark .home .light, .home img {
    display: block;
}

.dark .home img, .home .light {
    display: none;
}

.form .title {
    color: var(--dark-purple);
    font-size: 30px;
    margin: auto 0;
}

.form .input {
    width: 90%;
    font-size: 15px;
    color: var(--text)
}

.form .checkbox
{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.form .submit {
    padding: 10px 30px;
    margin: auto 0;
    background-color: var(--very-dark-purple);
}

.redirect {
    margin-bottom: 10px;
    margin-top: 30px;
    color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.redirect .button {
    margin-left: 0px;
    margin-top: 10px;
    background-color: var(--light-cyan);
    color: var(--very-dark-purple);
    padding: 5px 10px;
}

@media screen and (min-width: 400px) {
    .redirect {
        flex-direction: row;
    }

    .redirect .button {
        margin-left: 20px;
        margin-top: 0;
    }
}

@media screen and (min-width: 600px) {
    .form {
        background-color: var(--secondary);
        width: calc(270px + 20%);
        height: 80%;
        border-radius: 15px;
        box-shadow: 5px 0 30px 0px black;
        margin: auto;
    }

    .form .title
    {
        font-size: 36;
        margin: 0 0 30px;
    }

    .form .input {
        width: 80%;
    }
}

/*

*{
    text-align:center;
}
.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    margin:10px 100px 100px 350px;
    box-shadow: none;
    align-self: center;
}
.register{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px;
    width: 100%;
    margin:20px 95px 10px 15px;
    box-shadow: 0px 10px 50px 0px #555555;
}
.register_text{
    font-size:large;

}
.main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px;
    margin:100px 440px 10px 360px;
    box-shadow: 0px 10px 50px 0px #555555;
}
.user_box{
    margin:10px 50px 5px 50px;
    width: 75%;

}
.inside{
    margin:10px 0px 0px 0px;
    width:10%;
    text-align:center;
}
.separate{
    margin:35px 0px 0px 0px;
    width: 33%;
    height: 1px;
    padding:1px;
    background-color: black;
    border:0.05em solid black;
}
input[type="text"],[type="password"]{
    height: 40px;
    width: 100%;
    text-align: center;
    font-size:medium;
}
.button_box{
    margin:20px 180px 5px 80px;
}
.enter_button{
    margin:5px 100px 0px 40px;
    height: 45px;
    width: 100%;
    font-size:large;
    font-weight: 600;
}
.link_contain{
    width: 100%;
    margin-top:10px;
    margin-left:10px;
    margin-bottom: 10px;
    text-align: center;
}
a:link,a:visited{
    color:var(--darkcyan);
}

/* a:hover{
    color:var(--darkpurple);
} */