.content
{
    flex-direction: column;
}

#video
{
    max-width: 100%;
    width: calc(80% + 150px)
}

.likesAndDislikesWrapper
{
    margin: 10px 10% 20px auto;
    width: auto;
}

#likes,
#dislikes
{
    display: inline-flex;
    margin: 0 10px;
    font-size: calc(1vw + 30px);
    align-content: center;
}

#likes i, #dislikes i
{
    display: block;
    font-family: 'Material Icons';
    font-size: calc(2vw + 15px);
    margin: auto 10px auto 0;
    color: #666666;
    cursor: default;
}

#likes div,
#dislikes div
{
    display: block;
    font-size: calc(2vw + 15px);
    color: grey;
    height: calc(2vw + 12px);
    margin: auto 10px auto 0;
    min-width: calc(1vw + 15px);
}

#likes i:hover,
#dislikes i:hover
{
    color: black;
}


#compose-comment
{
    width: calc(87%);
    align-self: flex-start;
    margin-left: 5%;
}

#compose-comment .button
{
    float: right;
    padding: 10px;
    margin-top: 20px;
}

#compose-comment>div
{
    display: flex;
    width: 100%;
}

#compose-comment textarea
{
    overflow: hidden;
    resize: none;
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
    /* border-bottom: 1px solid grey; */
    margin-left: 20px;
    word-wrap: break-word;
    width: 300px;
}

#compose-comment .input-wrapper::after
{
    content: attr(data-my-value)" ";
    white-space: pre-wrap;
    visibility: hidden;
}

#compose-comment textarea,
#compose-comment .input-wrapper::after
{
    padding: 5px;
    grid-area: 1 / 1 / 2 / 2;
    font-size: 20px;
    word-wrap: break-word;
    width: calc(80vw - 100px);
}

.input-wrapper
{
    width: 90%;
    display: grid;
}

#compose-comment textarea:focus
{
    border-color: black;
}

.input-wrapper>div
{
    background-color: grey;
    width: 96%;
    height: 1px;
    margin: 0 auto;
}

.input-wrapper textarea:focus+div
{
    background-color: black;
}

#comments
{
    font-size: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

#comments a:visited
{
    color: black;
} 

#comments>*
{
    margin-left: 0px;
}

.replies
{
    margin-left: 40px;
}

.replies .replies
{
    margin-left: 0px;
}

.comment
{
    display: flex;
    width: 90%;
    flex-direction: column;
}

.comment img,
#compose-comment img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment .text
{
    display: inline-block;
    margin: auto 0 auto 20px;
    word-wrap: break-word;
    max-width: 90%;
}

.comment .author-name
{
    display: block;
    width: 100%;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 1000;
}

.comment>div:first-of-type
{
    display: flex;
    margin: 15px 0;
}

.comment>div:first-of-type>div
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment-like-dislike
{
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    color: grey;
    font-size: 15px;
    cursor: default;
}

.dislike-comment,
.like-comment
{
    font-size: 15px;
    margin-right: 10px;
}

.dislike-comment[color = black],
.like-comment[color = black]
{
    color: black;
}

.dislike-comment[color = grey],
.like-comment[color = grey]
{
    color: grey;
}

.like-comment:hover,
.dislike-comment:hover
{

    cursor: default;
    color: black;
}

.comment-likes
{
    margin-right: 20px;
}

.comment-likes,
.comment-dislikes
{
    min-width: 10px;
}

.collapse-replies,
.show-replies
{
    font-size: 15px;
    color: grey;
    margin-left: 40px;
    margin-top: -10px;
}

.collapse-replies i,
.show-replies i
{
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
}

.collapse-replies
{
    display: none;
}

.replies
{
    display: none;
}


@media screen and (max-width: 600px) {
    #video
    {
        /* max-width:100vw;
        width: 100vw; */
    }
}