@import "../Colors.css";

header
{
    position: relative;
    background-color: var(--yellow);
    text-align: center;
    margin-top: 60px;
    padding: 30px 0;
    z-index: -3;
}

.header
{
    margin:0;
    font-size: 70px;
}

.motto
{
    font-size: 20px;
}