@import "../Colors.css";

div.header
{
    background-color: var(--yellow);
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
    z-index: -3;
    margin: 0;
}

.header img
{
    height: 4px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}