@import "../Colors.css";

.navbar
{
  position: fixed;
  top: 0;
  width: 100%;
  height: 53px;
  padding: 0 5px 0 0;
  display: inline-block;

  background-color: var(--purple);

  z-index: 100;
}

.navbar *:first-child
{
  margin: 5px 20px 5px 10px;
}

.navbar *:not(i)
{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: var(--text-color); 
  margin: 4px;
  padding: 5px 0.5%;
}

.navbar .button
{
  float: right;
  cursor: pointer;
  background-color: var(--purple);
  border-radius: 10px;
}

.navbar .button:hover
{
  background-color: var(--cyan);
  color: var(--purple);
}

div.dropdown
{
  width: auto;
  margin: 5px 0 0 0;
  padding: 0;
  float: left;
}

.dropdown i.fa /*???*/
{
  padding: 6px;
  font-size: 27px;
  margin-bottom: 0;

  transform: rotate(0deg);
  transition: transform 0.5s;
}

.dropdown i:hover
{
  transform: rotate(180deg);
  transition: transform 0.5s;
}

#dropdown-content
{
  display: none;
  
  overflow: hidden;
  transition: height 0.5s;
  height: 0px;
  position: fixed;
  top: 53px;
  left: 0;
  min-width: 250px;
  border-bottom-right-radius: 5px;
  margin: 0;
  padding: 0 10px 0 0;
  z-index: -1;

  list-style-type: none;
}

#dropdown-content li
{
  overflow: hidden;
  cursor: pointer;
  background-color: var(--lightpurple);
  color: var(--yellow);

  width: 100%;
  display: block;
  margin: 0;
  padding: 5px;
  z-index: 1;
}

#dropdown-content li:hover
{
  background-color: var(--cyan);
  color: var(--lightpurple);
}