
.lessons-page .content
{
    margin: 0;
}

.lessons-page .background
{
    background-color: var(--background);
    z-index: -1000;
    margin: 0;
}

.lessons-navigation
{
    width: 100%;
    font-size: calc(12px + 0.5vw);
    color: var(--primary);
}


.lessons-page .content-title
{
    text-align: left;
    font-size: calc(18px + 1vw);
    font-weight: bold;
    margin: calc(20px + 1vw) 0;
}