.lessons-page .navbar {
    position: static;
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lessons-page .home {
    width: 50px;
}

.lessons-page .home img
{
    width: 100%;
}

.dark .lessons-page .home .light, .lessons-page .home .dark {
    display: block;
}

.dark .lessons-page .dark, .lessons-page .light {
    display: none;
}

.lessons-page .dropdown button {
    font-size: 30px;
    display: inline;
    color: var(--button-primary);
}

.lessons-page .dropdown i, .lessons-page .dropdown button {
    display: block;
}

.lessons-page .navigation .options {
    font-size: 20px;
}

.lessons-page .search
{
    margin: 0 auto;
}