@import "../../Style/Colors.css";

.subjects
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subjects .button
{
    width: 200px;
    height: 200px;
    margin: 50px;
}