@import "../../Style/Colors.css";

.navbar
{
  position: sticky;
  padding-left: 1%;
  flex-flow:row nowrap;
}

.navbar>*:last-child
{
  margin-right: 3vw;
}

.dropdown
{
  margin-right: 10px;
}

@media (max-width: 800px)
{
  .navbar .button
  {
    margin: auto 3px;
  }
}
