.legality-page
{
    font-size: 15px;
}

.legality-page .header
{
    padding-bottom: 0;
}

.legality-page .last-update
{
    text-align: right;
    margin-bottom: 30px;
}

.legality-page .last-update>*
{
    color: var(--secondary);
}

.legality-page .title,
.legality-page .margin
{
    margin: 20px 0;
}

.legality-page .title
{
    font-size: calc(0.7vw + 15px);
    text-transform: capitalize;
}