.legality-page .header
{
    padding-bottom: 0;
}

.legality-page .last-update
{
    text-align: right;
    margin-bottom: 30px;
    margin-top: 15px;
}

.legality-page .last-update>*
{
    color: var(--secondary);
}

.legality-page .title,
.legality-page .margin
{
    margin: 20px 0;
}

.legality-page .title
{
    font-size: calc(0.7vw + 15px);
    text-transform: capitalize;
}

.legality-page .content-title
{
    line-height: 2em;
    margin: 20px;
    text-align: center;
}

.legality-page .content
{
    margin-bottom: 10vw;
    font-size: 15px;
    white-space:pre-wrap;
    text-indent: 2em;
}

.legality-page .content table {
    border-collapse: collapse;
}

.legality-page ul
{
    text-indent: 0;
}

.legality-page .content table td
{
    white-space: pre-wrap;
    border: 1px solid var(--dark-cyan);
    padding: 10px;
}