/*Define colors` names here*/

body
{
  --pink: #E0B0FF;
  --very-light-purple: #D0B0FF;
  --light-purple: #AA95D1;
  --purple: #A070B1;
  --dark-purple: #705091;
  --very-dark-purple: #402051;

  --very-light-cyan: #E0FFE8;
  --light-cyan: #A8E8D5;
  --cyan: #7DD1C1;
  --dark-cyan: #70B1A1;

  --dark-green: #335049;
  --sea-wave: #204050;
  --dark-blue: #102030;


  --background: var(--very-light-cyan);


  /* From most to least contrasted */
  --primary: var(--very-dark-purple);
  --secondary: var(--dark-purple);
  --hidden: var(--light-cyan);

  --text-primary: var(--primary);
  --text-secondary: var(--secondary);


  --button-primary: var(--dark-purple);
  --text-button-primary: var(--very-light-cyan);

  --button-secondary: var(--dark-cyan);
  --text-button-secondary: var(--text-primary);


  --dropdown: var(--secondary);
  --text-dropdown: var(--light-cyan);
}

body.dark
{
  --background: var(--sea-wave);

  --primary: var(--very-light-cyan);
  --secondary: var(--dark-cyan);
  --hidden: var(--dark-cyan);

  /* --faded-primary: var(--very-light-cyan); */
  --faded-secondary: var(--light-purple);
  /* --secondary: var(--very-dark-purple); */


  --button-primary: var(--primary);
  --text-button-primary: var(--dark-green);

  --button-secondary: var(--dark-cyan);
  --text-button-secondary: var(--text-primary);


  --dropdown: var(--light-cyan);
  --text-dropdown: var(--dark-blue);
}