/*Define colors` names here*/

:root
{
  --lightpurple: rgb(220, 80, 255);
  --purple: rgb(185, 8, 224);
  --darkpurple: rgb(150, 0, 140);

  --yellow: rgb(41, 61, 96);

  --lightcyan: rgb(60, 255, 190);
  --cyan: rgb(48, 227, 175);
  --darkcyan: rgb(35, 200, 155);

  --dark: rgb(41, 61, 96);
  --not-so-dark:  rgb(49, 73, 115);
  --not-so-light:  rgb(191, 211, 223);
  --light: rgb(212, 234, 248);

  --content-d: var(--not-so-dark);
  --content-l: var(--not-so-light);

  --header-d: var(--dark);
  --header-l: var(--light);

  --footer-d: var(--not-so-dark);
  --footer-l: var(--not-so-light);

  --navbar-d: var(--not-so-dark);
  --navbar-l: var(--not-so-light);

  --button-d: var(--light);
  --button-l: var(--dark);


  --text-d: black;
  --text-l: white;
}