/* LINK */

.link {
  cursor: pointer;
  color: var(--primary);
  opacity: 0.8;
  transition: opacity 0.25s;
}

.link:hover {
  opacity: 1;
}

/*BUTTON*/

.button {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-button-primary);
  transition: color 1s, background-color 1s;
}

.button.bold {
  font-weight: bolder;
}

.button.primary {
  background-color: var(--button-primary);
  color: var(--text-button-primary);
}

.button.secondary {
  background-color: var(--button-secondary);
  color: var(--text-button-secondary);
}

.button.shake:hover {
  animation: shadows 0.5s infinite linear;
  border-radius: 20px;
  border: none;
}

.button.lightning svg {
  position: absolute;
  left: 0;
  transform-origin: left;
  /* transform: scaleX(2); */
  width: 100%;
}

.button.lightning svg polyline {
  opacity: 0;
  fill: transparent;
  stroke: var(--very-light-cyan);
  stroke-width: 1;
}

.button:hover polyline:nth-child(1) {
  animation: lightning 1s 100ms infinite;
}

.button:hover polyline:nth-child(2) {
  animation: lightning 1s 200ms infinite;
}

.button:hover polyline:nth-child(3) {
  animation: lightning 1s 300ms infinite;
}

@keyframes lightning {
  from {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes shadows {
  from {
    text-shadow: 2px 0px 2px var(--background), 0px 2px 4px var(--dark-green), 0px 0px 4px var(--very-dark-purple);
  }
  25% {
    text-shadow: -2px 0px 2px var(--background), 0px 0px 4px var(--dark-green), 0px -2px 4px var(--very-dark-purple);
  }
  50% {
    text-shadow: 2px 0px 2px var(--background), 0px -2px 4px var(--dark-green), 0px 0px 4px var(--very-dark-purple);
  }
  75% {
    text-shadow: -2px 0px 2px var(--background), 0px 0px 4px var(--dark-green), 0px 2px 4px var(--very-dark-purple);
  }
  to {
    text-shadow: 2px 0px 2px var(--background), 0px 5px 4px var(--dark-green), 0px 0px 4px var(--very-dark-purple);
  }
}

.button * {
  margin: auto;
}

.button-content {
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 10;
  transition: color 0.5s;
}

.button-background {
  position: absolute;
  display: inline-block;
  margin: auto;
  padding: 0;
  height: 100%;
  left: 50%;
  bottom: 0;
  width: 0;
  transition: width 0.25s, left 0.25s;
  background-color: var(--cyan);
  border-radius: 10px;
}

/* INPUT */

.input {
  display: inline-block;
  position: relative;
  overflow: hidden;
  --font-size: 10px;
  font-size: var(--font-size);
  height: calc(4 * var(--font-size));
  min-height: calc(4 * var(--font-size));
  z-index: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input.rounded input {
  border-radius: 2em;
}

.input input {
  box-sizing: border-box;
  width: 100%;
  height: calc(var(--font-size) * 2.5);
  padding-left: calc(2em + 15px);
  margin-top: calc(var(--font-size) * 1.5);
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 10px;
  background-color: transparent;
  color: var(--text-primary);
  font-size: var(--font-size);
  text-align: start;
  z-index: 1;
  transition: margin-top 0.5s, height 0.5s;
}

.input.checkbox {
  min-height: 1em;
  --font-size: 40px;
  width: auto;
  height: auto;
}

.input.checkbox .box, .input.checkbox input {
  left: 0;
  top: 0;
}

.input.checkbox .box {
  position: absolute;
  z-index: -1;
  background-color: transparent;
  color: transparent;
  border: 1px solid var(--primary);
  border-radius: calc(1px + 0.2 * var(--font-size));
  pointer-events: none;
  width: var(--font-size);
  height: var(--font-size);
  left: 0;
  top: 0;
  padding: 0.2em;
  display: block;
}

.input.checkbox .box i {
  display: block;
  font-size: calc(var(--font-size) * 0.5);
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input.checkbox input {
  width: 1em;
  height: 1em;
  opacity: 0;
  margin: 0;
}

.input input:checked~.box {
  color: var(--primary);
}

.input.fog .fog {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  display: block;
  width: 100px;
  height: calc(100% - 12px - 1em);
  right: 1px;
  top: calc(1px + 1em + 10px);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition: opacity 0.25s;
  transition-delay: 0.25s;
  background-image: linear-gradient(to left, white, #ffffff00 40px);
}

.input.rounded .fog {
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}

.input input:focus~.fog, .input:not(.empty) .fog {
  opacity: 0;
  transition: opacity 0s;
  transition-delay: 0s;
}

.input>i {
  position: absolute;
  display: inline;
  left: 0.5em;
  font-size: calc(1.5 * var(--font-size));
  top: calc(var(--font-size) * 2.75 - 0.5em);
  transition: top 0.5s;
  color: var(--primary);
}

.input .show-or-hide {
  right: 0.4em;
  left: auto;
  font-size: 20px;
  z-index: 1;
}

.input .show-or-hide.fa-eye-slash {
  right: 0.34em;
}

.input .input-label {
  position: absolute;
  top: calc(var(--font-size) * 2.75 - 0.5em);
  left: 1em;
  width: calc(100% - 1em);
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--font-size);
  opacity: 0.7;
  color: var(--text-primary);
  transition: top 0.5s, left 0.5s, opacity 0.5s;
}

.input.checkbox .input-label {
  position: static;
  display: inline-block;
  width: auto;
  margin-left: 10px;
}

.input i~.input-label {
  left: calc(2em + 15px);
  width: calc(100% - 2em);
}

.input input:focus~.input-label, .input:not(.empty) .input-label {
  opacity: 1;
  width: auto;
  top: 0;
  left: 0;
}

/* TEXTAREA */

.textarea textarea {
  overflow: hidden;
  resize: none;
  border-radius: 5px;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
}

.textarea::after {
  content: attr(data-value) " ";
  visibility: hidden;
}

.textarea textarea, .textarea::after {
  box-sizing: border-box;
  padding: 5px;
  line-height: normal;
  font-size: inherit;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  display: block;
  width: 100%;
  height: 100%;
}

.textarea {
  width: 100%;
  position: relative;
}

.textarea textarea:focus {
  border-color: black;
}

/* SEARCH FIELD */

.search {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  min-width: 0.7em;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: border-color 0.5s, width 0.5s;
}

.search.expanded {
  border-color: var(--primary);
}

.search i {
  cursor: pointer;
}

.search.empty>.fa-plus {
  opacity: 0;
  display: none;
}

.search .fa-plus {
  transform: rotateZ(45deg);
  transition: opacity 0.25s;
}

.search input {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  color: var(--primary);
  background-color: transparent;
}

.search input::placeholder {
  color: var(--primary);
  opacity: 0.5;
}

.search input:-ms-input-placeholder {
  color: var(--primary);
}

.search input::-ms-input-placeholder {
  color: var(--primary);
}

/*FOOTER*/

.footer {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  padding: 10px 2vw;
  width: 100%;
  max-height: 150px;
  height: calc(10vw + 70px);
  min-height: 100px;
  background-color: var(--footer);
}

.footer .home {
  opacity: 1;
  height: 100%;
}

.footer .home img {
  opacity: 1;
  object-fit: contain;
  width: auto;
  height: 100%;
}

.dark .footer .light, .footer .dark {
  display: block;
}

.dark .footer .dark, .footer .light {
  display: none;
}

.footer .links {
  height: 100%;
  width: 50%;
  display: grid;
  flex-grow: 1;
  margin: 0 2vw;
  font-size: calc(0.5vw + 10px);
}

.footer .social {
  font-size: calc(1vw + 22px);
  margin: 0;
  /* height: 100%;
  max-height: 100px; */
  width: auto;
  display: grid;
}

.footer .social i
{
  /* display: block; */
}


.footer .links>* {
  margin-right: 2vw;
  align-self: center;
  padding: 5px 10px;
  color: var(--background);
}

.footer .social>:nth-child(1) {
  color: var(--footer-1);
}

.footer .social>:nth-child(2) {
  color: var(--footer-2);
  justify-self: center;
}

.footer .social>:nth-child(3) {
  color: var(--footer-3);
  justify-self: flex-end;
}

.footer>*>* {
  opacity: 0.8;
}

.footer>*>*:hover {
  opacity: 1;
}

.footer .links :nth-child(1) {
  justify-self: flex-start;
  background-color: var(--footer-3);
}

.footer .links :nth-child(2) {
  justify-self: center;
  background-color: var(--footer-2);
}

.footer .links :nth-child(3) {
  justify-self: flex-end;
  background-color: var(--footer-1);
}

@media screen and (min-width: 600px) {
  .footer .social
  {
    width: 30%;
  }
}

/*DEFAULT NAVBAR*/

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dark .navbar img.light, .navbar img.dark {
  display: block;
}

.dark .navbar img.dark, .navbar img.light {
  display: none;
}

/* TITLE */

.content-title {
  padding: 0px;
  margin: 10px 0;
  line-height: normal;
  color: var(--secondary);
  font-size: calc(15px + 1vw);
}

.content-subtitle {
  font-size: calc(10px + 0.7vw);
}

/* DROPDOWN */

.dropdown {
  padding: 0;
  position: relative;
  display: inline-block;
  z-index: 100;
}

.dropdown>button {
  opacity: 0.8;
  transition: opacity 0.5s;
  cursor: default;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.dropdown:hover button, .dropdown button:focus {
  opacity: 1;
}

.dropdown .options-wrapper {
  display: none;
  position: absolute;
  top: auto;
  left: 0;
}

.dropdown.right .options-wrapper {
  right: 0;
  left: auto;
}

.dropdown .options * {
  text-align: left;
}

.dropdown.right .options * {
  text-align: right;
}

.dropdown .options {
  background-color: var(--dropdown);
  border-radius: 10px;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
}

.dropdown:hover .options-wrapper, .dropdown button:focus~.options-wrapper {
  display: block;
}

.dropdown .options>* {
  color: var(--text-dropdown);
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

/* DEFAULT MENU */

.dropdown.right .theme-toggle {
  margin: 0 auto;
  box-sizing: content-box;
}

/* VIDEO */

.video {
  width: 100%;
  box-shadow: black 0px 0px 50px 0px;
}

@media screen and (min-width: 600px) {
  .video {
    width: calc(50% + 600px * 0.8 * 0.5);
  }
}

/* THEME TOGGLE */

.theme-toggle {
  display: flex;
  justify-content: center;
}

.theme-toggle>div {
  font-size: 30px;
  position: relative;
  cursor: pointer;
  width: 2em;
  height: 1em;
  display: block;
  justify-self: flex-end;
  transform-origin: center;
  transition: transform 0.5s;
}

.theme-toggle .dark {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--dark-purple);
  left: 1em;
  opacity: 1;
}

.theme-toggle .light {
  opacity: 0;
  color: #ffee77;
  left: 0;
}

.theme-toggle .dark, .theme-toggle .light {
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  width: 1em;
  height: 1em;
}

.theme-toggle .dark i {
  text-align: center;
  font-size: 0.6em;
  color: #ffeecc
}

body.dark .theme-toggle .dark {
  opacity: 0;
}

body.dark .theme-toggle .light {
  opacity: 1;
}

/* LEGALITY BAR */

.legality-bar {
  display: flex;
  width: 100%;
  padding: calc(1vw + 10px) 0;
  font-size: calc(0.3vw + 12px);
}

.legality-bar>* {
  margin: 0 auto;
  color: var(--secondary);
  text-align: center;
}

.legality-bar :nth-child(3) {
  opacity: 0.9;
  cursor: default;
  white-space: pre;
}

/* BACKGROUND */

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  mix-blend-mode: multiply;
}

/* DEFAULT NAVBAR */

.navbar {
  z-index: 10;
  position: sticky;
  align-items: center;
}

.navbar>*
{
  margin: 0 auto;
}

.navbar>:first-child,
.navbar>:last-child
{
  margin: 0;
}

.navbar>:last-child:nth-child(2)
{
  margin: 0 0 0 auto;
}

/* WIDNOW */
.window
{
  position: fixed;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;

  background-color: var(--primary);
  color: var(--background);

  display: flex;
  flex-direction: column;
  padding: 5vw 10vw;

  overflow-y: auto;
}

.window .fa-plus
{
  transform: rotateZ(45deg);
  position: absolute;
  top: 10px;
  right: 10px;
}

.window>*,
.window>div>.link
{
  color: var(--background);
  margin: 10px 0;
}
