/* INPUT */

.input {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 4em;
  min-height: 4em;
  z-index: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input.rounded input {
  border-radius: 2em;
}

.input input {
  box-sizing: border-box;
  width: 100%;
  height: calc(1em * 2.5);
  padding-left: calc(2em + 15px);
  margin-top: calc(1em * 1.5);
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 10px;
  background-color: transparent;
  color: var(--text-primary);
  font-size: inherit;
  text-align: start;
  z-index: 1;
  transition: margin-top 0.5s, height 0.5s;
}

.input.checkbox {
  min-height: 1em;
  --font-size: 40px;
  width: auto;
  height: auto;
}

.input.checkbox .box {
  position: absolute;
  z-index: -1;
  background-color: transparent;
  color: transparent;
  border: 1px solid var(--primary);
  border-radius: calc(1px + 0.2 * 1em);
  pointer-events: none;
  width: 1em;
  height: 1em;
  padding: 0.2em;
  display: block;
}

.input.checkbox .box i {
  display: block;
  font-size: calc(1em * 0.5);
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input.checkbox input {
  font-size: inherit;
  width: 1em;
  height: 1em;
  opacity: 0;
  margin: 0;
}

.input input:checked~.box {
  color: var(--primary);
}

.input.fog .fog {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  display: block;
  width: 100px;
  height: calc(100% - 12px - 1em);
  right: 1px;
  top: calc(1px + 1em + 10px);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition: opacity 0.25s;
  transition-delay: 0.25s;
  background-image: linear-gradient(to left, white, #ffffff00 40px);
}

.input.rounded .fog {
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}

.input input:focus~.fog, .input:not(.empty) .fog {
  opacity: 0;
  transition: opacity 0s;
  transition-delay: 0s;
}

.input>i {
  position: absolute;
  display: inline;
  left: 0.5em;
  font-size: calc(1.5 * 1em);
  top: calc(1em / 1.5 * 2.75 - 0.5em);
  transition: top 0.5s;
  color: var(--primary);
}

.input .show-or-hide {
  right: 0.4em;
  left: auto;
  z-index: 1;
}

.input .show-or-hide.fa-eye-slash {
  right: 0.34em;
}

.input .input-label {
  position: absolute;
  top: calc(1em * 2.75 - 0.5em);
  left: 1em;
  width: calc(100% - 1em);
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  font-size: inherit;
  opacity: 0.7;
  color: var(--text-primary);
  transition: top 0.5s, left 0.5s, opacity 0.5s;
}

.input.checkbox .input-label {
  position: static;
  display: inline-block;
  width: auto;
  margin-left: 0.5em;
}

.input i~.input-label {
  left: calc(2em + 15px);
  width: calc(100% - 2em);
}

.input:not(.checkbox) input:focus~.input-label, 
.input:not(.empty) .input-label {
  opacity: 1;
  width: auto;
  top: 0;
  left: 0;
}

/* TEXTAREA */

.textarea textarea {
  overflow: hidden;
  resize: none;
  border-radius: 5px;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
}

.textarea::after {
  content: attr(data-value) " ";
  visibility: hidden;
}

.textarea textarea, .textarea::after {
  box-sizing: border-box;
  padding: 5px;
  line-height: normal;
  font-size: inherit;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  display: block;
  width: 100%;
  height: 100%;
}

.textarea {
  width: 100%;
  position: relative;
}

.textarea textarea:focus {
  border-color: black;
}

/* SEARCH FIELD */

.search {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  min-width: 0.7em;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: hidden;
  transition: border-color 0.5s, width 0.5s;
}

.search.expanded {
  border-color: var(--primary);
}

.search * {
  text-align: left;
}

.search .section, .search .link {
  border: 1px solid var(--hidden);
  padding: 5px 10px;
}

.search .section-button {
  padding: 0;
}

.search i {
  cursor: pointer;
}

.search.empty>.fa-plus {
  opacity: 0;
  display: none;
}

.search .fa-plus {
  transform: rotateZ(45deg);
  transition: opacity 0.25s;
}

.search input {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: calc(10px + 0.5vw);
  color: var(--primary);
  text-decoration: none;
  background-color: transparent;
}

.search input::placeholder {
  color: var(--primary);
  opacity: 0.5;
}

.search input:-ms-input-placeholder {
  color: var(--primary);
}

.search input::-ms-input-placeholder {
  color: var(--primary);
}


.search-results
{
  font-size: calc(1vw + 5px);
}

.search-results .button
{
  display: block;
  margin: 10px 0;
}

/* TITLE */

.content-title {
  padding: 0px;
  margin: 10px 0;
  line-height: normal;
  color: var(--secondary);
  font-size: calc(15px + 1vw);
}

.content-subtitle {
  font-size: calc(10px + 0.7vw);
  color: var(--primary)
}

/* DROPDOWN */

.dropdown {
  padding: 0;
  position: relative;
  display: inline-block;
  z-index: 100;
}

.dropdown>button {
  opacity: 0.8;
  transition: opacity 0.5s;
  cursor: default;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.dropdown:hover button, .dropdown button:focus {
  opacity: 1;
}

.dropdown .options-wrapper {
  display: none;
  position: absolute;
  top: auto;
  left: 0;
}

.dropdown.right .options-wrapper {
  right: 0;
  left: auto;
}

.dropdown .options * {
  text-align: left;
}

.dropdown .options {
  background-color: var(--dropdown);
  border-radius: 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown.right .options {
  align-items: flex-end;
}

.dropdown:hover .options-wrapper, .dropdown button:focus~.options-wrapper {
  display: block;
}

.dropdown .options>* {
  color: var(--text-dropdown);
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.dropdown.right .options>* {
  text-align: right;
}

/* SECTION */

.section {
  border: 1px var(--primary) solid;
  border-radius: 10px;
  padding: 0 5px;
}

.section * {
  text-align: left;
}

.section i
{
  font-size: inherit;
  float: left;
  margin-right: 10px;
  transition: transform 0.5s;
}

.section .up {
  transform: rotateZ(-90deg);
}

.section .content-wrapper {
  transition: height 0.5s;
}

.section .content-wrapper>div {
  margin-top: 10px;
}

.section>* {
  overflow: hidden;
}

.section-button, .section .button {
  cursor: pointer;
  padding: 7px 1vw;
}

.section {
  display: block;
  margin: 15px;
  margin-left: calc(5px + 2vw);
}

.section input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* VIDEO */

.video {
  width: 100%;
  box-shadow: black 0px 0px 50px 0px;
}

@media screen and (min-width: 600px) {
  .video {
    width: calc(50% + 600px * 0.8 * 0.5);
  }
}

/* THEME TOGGLE */

.theme-toggle {
  display: flex;
  justify-content: center;
}

.theme-toggle>div {
  font-size: 30px;
  position: relative;
  width: 1em;
  height: 1em;
  display: block;
  justify-self: flex-end;
  transform-origin: right;
  transition: transform 0.5s;
}

.theme-toggle .dark {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--dark-purple);
  left: 1em;
  opacity: 1;
}

.theme-toggle .light {
  opacity: 0;
  pointer-events: none;
  /* color: #ffee77; */
  color: var(--dark-purple);
  left: 0;
}

.theme-toggle .dark, .theme-toggle .light {
  cursor: pointer;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  width: 1em;
  height: 1em;
}

.theme-toggle .dark i {
  text-align: center;
  font-size: 0.6em;
  color: #ffeecc;
  pointer-events: none;
}

body.dark .theme-toggle .dark {
  opacity: 0;
  pointer-events: none;
}

body.dark .theme-toggle .light {
  pointer-events: auto;
  display: block;
  opacity: 1;
}

/* BACKGROUND */

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  mix-blend-mode: multiply;
}

/* WINDOW */

.window-frame
{
  position: fixed;
  /* inset: 0; */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #aaaaaac0;
  z-index: 1000;
}

.window {
  position: fixed;
  width: 100%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  flex-direction: column;
  padding: 5vw calc(10vw - 20px);
  overflow-y: scroll;
}

.window::-webkit-scrollbar
{
  display: none;
}

@media screen and (min-width: 600px) {
  .window {
    width: 80%;
  }
}

.window .fa-plus {
  transform: rotateZ(45deg);
  position: absolute;
  margin: 0;
  top: 10px;
  right: 10px;
}

.window>* {
  color: var(--background);
  margin: 10px 0;
}

/* COOKIES AGREEMENT WINDOW */

.agree-cookies-window
{
  position: relative;
}

.agree-cookies-window p
{
  margin: 20px 0;
  line-height: 1.5em;
}

.agree-cookies-window .background
{
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.agree-cookies-window img
{
  position: absolute;
  top: calc(40% + 300px);
  transform: translateY(-50%);
  
  mix-blend-mode: multiply;
  width: calc(50% - 20vw + 200px);
  display: block;
}

.agree-cookies-window img:first-child
{
  top: calc(50% - 100px);
  right: -20%;
}

.agree-cookies-window .button
{
  margin-top: auto;
}