@import "../Style/Colors.css";

/*BUTTON*/

.button
{
    padding: 0 10px; 
    overflow: hidden;
    display: inline-flex;
    position: relative;
    border-radius: 10px;
    background-color: var(--purple);
    text-decoration: none;
    text-align: center;
}

.button *
{
    margin: auto;
}

.button-content
{
    display: inline-block;
    color: white;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.button:hover .button-content
{
    color: var(--darkpurple);
}

.button-background
{
    position: absolute;
    display: inline-block;
    margin: auto;
    padding: 0;
    height: 100%;

    left: 50%;
    bottom: 0;
    width: 0;
    transition: width 0.25s, left 0.25s;
    background-color: var(--cyan);
    border-radius: 10px;
}

.button:hover .button-background
{
    left: 0;
    width: 100%;
}


/*SEARCH FIELD*/

.search
{
    height: auto !important;
    min-width: 40px;
    display: inline-block;
    left: 0px;
    top: 15%;
    position: absolute;
    width: 10px;
    transition: width 0.5s;
    z-index: 100;
}

.search .button-content
{
    display: inline-flex;
    height: 100%;
    float: left;
}

.search:hover .button-content
{
    color: unset;
}

.search .button-content *
{
    margin-top: auto;
    margin-bottom: auto;
}

.search input
{
    font-size: 20px;
    display: none;
    width: 1200px;
    border: 0;
    padding: 0;
    height: 100%;
    outline: none;
    margin-left: 10px;
}

.search .button-background
{
    width: 100%;
    background-color: transparent;
    transition: background-color 0.5s;
    left: 0%;
}


/*FOOTER*/

.footer
{
    margin-top: 100px;
    position: static;
    bottom: 0px;
    width: 100%;
    height: 400px;
    background-color: var(--purple);
}

/*DEFAULT NAVBAR*/

.home
{
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 100px;
  z-index: 10;
  background-color: var(--yellow);
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: all 0.35s;
}

.home img
{
  height: 50px;
  width: 100px;
}

.home:hover
{
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}