@import "../Style/Colors.css";
/*BUTTON*/

.link
{
  cursor: pointer;
}

.button {
  padding: 0 10px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;

  background-color: var(--button-primary);
  color: var(--text-button-primary);

  transition: color 1s, background-color 1s !important;
}


.button.bold
{
  font-weight: bolder;
}

.button.secondary
{
  background-color: var(--button-secondary);
  color: var(--text-button-secondary);
}

.button * {
  margin: auto;
}

.button-content {
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 10;
  transition: color 0.5s;
}

.button-background {
  position: absolute;
  display: inline-block;
  margin: auto;
  padding: 0;
  height: 100%;
  left: 50%;
  bottom: 0;
  width: 0;
  transition: width 0.25s, left 0.25s;
  background-color: var(--cyan);
  border-radius: 10px;
}

/* INPUT */

.input
{
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 4em;
}

.input.rounded input
{
  border-radius: 2em;
}

.input input
{
  width: 100%;
  height: calc(100% - 1em - 10px);
  padding-left: calc(1.5em + 15px);
  margin-top: calc(1em + 10px);
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 10px;
  background-color: transparent;
  box-sizing: border-box;

  text-align: start;
  
  transition: margin-top 0.5s, height 0.5s;
}

.input.checkbox
{
  --font-size: 40px;
  font-size: 0;
  width: auto;
  height: auto;
}

.input.checkbox .box,
.input.checkbox input
{
  left: 0;
  top: 0;
}

.input.checkbox .box
{
  position: absolute;
  background-color: transparent;
  color: transparent;
  border: 1px solid var(--text);
  border-radius: calc(1px + 0.2 * var(--font-size));

  pointer-events: none;
  width: var(--font-size);
  height: var(--font-size);
  left: 0;
  top: 0;
  padding: 0.2em;

  display: block;
}

.input.checkbox .box i
{
  display: block;
  font-size: calc(var(--font-size) * 0.5);
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input.checkbox input
{
  /* !important to overwrite user agent stylesheet */
  font-size: var(--font-size);
  width: 1em;
  height: 1em;
  opacity: 0;
  margin: 0;
}

.input input:checked~.box
{
  color: var(--text);
}

.input.fog .fog
{
  pointer-events: none;
  position: absolute;
  z-index: 1;
  display: block;
  width: 100px;
  height: calc(100% - 12px - 1em);
  right: 1px;
  top: calc(1px + 1em + 10px);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  transition: opacity 0.25s;
  transition-delay: 0.25s;

  background-image: linear-gradient(to left, white, #ffffff00 40px);
}

.input.rounded .fog
{
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}


.input input:focus~.fog,
.input:not(.empty) .fog
{
  opacity: 0;
  transition: opacity 0s;
  transition-delay: 0s;
}

.input>i
{
  position: absolute;
  display: inline;
  left: 0.25em;
  font-size: 1.5em;
  top: calc(50% + 3px - 0.1em);
  transition: top 0.5s;
}

.input .show-or-hide
{
  right: 0.4em;
  left: auto;
  top: calc(50% + 5px - 0.2em);
  font-size: 20px;
  z-index: 1;
}

.input .show-or-hide.fa-eye-slash
{
  right: 0.34em;
}

.input .input-label
{
  position: absolute;
  top: calc(50% + 5px - 0.05em);
  left: 1em;
  width: calc(100% - 1em);
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--font-size);
  opacity: 0.7;

  transition: top 0.5s, left 0.5s, opacity 0.5s;
}

.input.checkbox .input-label
{
  position: static;
  display: inline-block;
  width: auto;
  margin-left: 10px;
}

.input i~.input-label
{
  left: calc(1.5em + 15px);
  width: calc(100% - 2em);
}

.input input:focus~.input-label,
.input:not(.empty) .input-label
{
  opacity: 1;
  width: auto;
  top: 0;
  left: 0;
}


/* SEARCH FIELD */

.button.search {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  min-width: 40px;
  top: 12px;
  border: 1px solid white;
  transition: border-color 0.5s, width 0.5s;
  left: 0px;
  z-index: 100;
}

.search .button-content {
  display: inline-flex;
  width: 100%;
  float: left;
}

.search .button-content i {
  font-size: 25px;
}

.search input {
  font-size: 20px;
  color: var(--text-l);
  background-color: var(--purple);
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-left: 10px;
  border: 0;
  outline: none;
}

.search .button-background {
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s;
  left: 0%;
}

.search input::placeholder {
  color: #cccccc;
  opacity: 1;
}

.search input:-ms-input-placeholder {
  color: #cccccc;
}

.search input::-ms-input-placeholder {
  color: #cccccc;
}

/*FOOTER*/

.footer {
  margin-top: 100px;
  position: static;
  bottom: 0px;
  width: 100%;
  height: 300px;
  background-color: var(--footer-d);
}

/*DEFAULT NAVBAR*/

/* .home {
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 45px;
  min-width: 0 !important;
  background-color: transparent !important;
  z-index: 10;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.35s;
}

.home img {
  height: 100%;
  width: 100%;
}

.home:hover {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
} */

/* TITLE */

.content-title {
  width: 100%;
  padding: 0px;
  margin: 10px 0;
  text-align: center;
  line-height: normal;
  color: var(--text-d);
}

.content-title:not(.content-subtitle) {
  font-size: calc(45px + 3vw);
}

.content-subtitle {
  font-size: calc(35px + 2vw);
}

/* DROPDOWN */

.dropdown {
  padding: 0;
  position: relative;
  display: inline-block;
}

.dropdown>button
{
  cursor: default;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-primary);
}

.dropdown .options-wrapper {
  display: none;
  position: absolute;
  top: auto;
  left: 0;
}

.dropdown .options
{
  background-color: var(--dropdown);
  border-radius: 10px;
  padding: 10px 0;
}

.dropdown:hover .options-wrapper,
.dropdown button:focus~.options-wrapper
{
  display: block;
}

.dropdown .options>* {
  color: var(--dropdown-text);
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  display: inline-block;
}

/* VIDEO */

.video {
  width: 100%;
  box-shadow: black 0px 0px 50px 0px;
}

@media screen and (min-width: 700px) {
  .video {
    width: 80%;
  }
}

/* THEME TOGGLE */

.theme-toggle .dark
{
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--dark-purple);
}

.theme-toggle .light
{
  display: none;
  margin-left: auto;
  width: 1em;
  height: 1em;
  color: #ffee77;
}

.theme-toggle .dark i
{
  text-align: center;
  font-size: 0.6em;
  color: #ffeecc
}

body.dark .theme-toggle .dark
{
  display: none;
}

body.dark .theme-toggle .light
{
  display: flex;
}

/* LEGALITY BAR */

.legality-bar
{
  width: 100%;
  padding: 20px;
}

.legality-bar a
{
  color: var(--text);
}

.legality-bar a:nth-child(2)
{
  float: right;
}

/* BACKGROUND */


.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  mix-blend-mode: multiply;
}