@import "../Style/Colors.css";


.content
{
    background-color: transparent;
    position: relative;
    margin: 0;
    margin-top: 100px;
    z-index: -1;
    padding: 10px;

    font-size: larger;
    line-height: 30px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.content>*
{
    align-self:center;
    margin-top: 10px;
}

.content video
{
    width: 100%;
    border: dashed 1px black;
}

@media screen and (min-width: 600px)
{
    .content
    {
        margin: 0 5%;
        margin-top: 100px;
    }
}