@import "../Colors.css";

.content
{
    margin-top: 100px;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    z-index: -1;
}

.content>*
{
    margin-top: 10px;
}

.content video
{
    width: 100%;
    border: dashed 1px black;
}

.content .content-header
{
    margin: 0;
    text-align: center;
    font-size: 100px;
    color: var(--cyan);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content .text-about-us
{
    font-size: 30px;
}