@import "../Style/Colors.css";
.content {
    background-color: transparent;
    position: relative;
    margin: 0;
    margin-top: 100px;
    z-index: -1;
    padding: 0px;
    line-height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.content>* {
    align-self: center;
    margin-top: 10px;
}

.content .video
{
    margin: 30px 0 40px 0;
}


.content-text {
    text-align: left;
    width: 95%;
    margin-top: 40px;
    text-indent: 30px;
    font-size: calc(0.5vw + 15px);
    line-height: calc(0.5vw + 25px);
}

.separator
{
    background-color: #999999;
    width: 100%; 
    margin-top: 40px; 
    height: 0.5px
}

@media screen and (min-width: 600px) {
    .content-text {
        width: 80%;
    }

    .content {
        margin: 0 5%;
        padding: 10px;
        margin-top: 100px;
    }

    .separator
    {
        width: 90%;
    }
}