@import "../Style/Colors.css";

.content
{
    margin-top: 100px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    z-index: -1;
    box-shadow: 0px 10px 50px 0px #555555;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.content>*
{
    align-self:center;
    margin-top: 10px;
}

.content video
{
    width: 100%;
    border: dashed 1px black;
}