@import "../Colors.css";

.content
{
    margin-top: 100px;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    z-index: -1;
}

.content>*
{
    margin-top: 10px;
}

.content video
{
    width: 100%;
    border: dashed 1px black;
}

.content .about-header
{
    margin: 0;
    text-align: center;
    font-size: 100px;
    color: var(--cyan);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content .text-about-us
{
    font-size: 30px;
}

/* .subject
{
    pointer-events: visible;
    position: relative;
    display: inline-flex;
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: var(--darkpurple);
    color: var(--yellow);
    border-radius: 20px;
    z-index: -2;
}

.subject:hover
{
    background-color: var(--lightpurple);
}

.subject a
{
    text-align: center;
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    font-size: 30px;
}

.subject img
{
    position: absolute;
    margin-left: 25px;
    top: 10px;
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 20px;
} */