@import "../Style/Colors.css";

.header
{
    display: block;
    position: relative;
    text-align: center;
    z-index: -3;
    margin: 0;
    margin-top: 65px;
    font-size: 30px;
    font-weight: bold;
    padding: 50px;
}