body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*
{
  box-sizing: border-box;
  font-family: 'Comfortaa';
}

#root
{
  /* min-height: 100vh; */
}

/* .button-content
{
  transition: color 0s, background-color 0s !important;
} */
