@import "../Style/Colors.css";

.navbar
{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-weight: 550;

  min-height: 65px;
  max-height: 75px;
}

.navbar>*
{
  margin-top: 0;
  margin-bottom: 0;

  /* min-width: 5%; */
  font-size: 30px;
  text-decoration: none;
  color: var(--text-color); 
}

.navbar .button
{
  margin: auto 10px;
  padding: 7px 10px;
  font-size: calc(1vw + 10px);
}

@media (max-width: 800px)
{
  .navbar>*.not-important
  {
    display: none;
  }
}
