@import "../Style/Colors.css";

.navbar
{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-weight: 550;

  background-color: var(--navbar-d);
}

.navbar>*
{
  margin-top: 0;
  margin-bottom: 0;

  min-width: 5%;
  font-size: 30px;
  text-decoration: none;
  color: var(--text-color); 
}

@media (max-width: 800px)
{
  .navbar>*:not(.important)
  {
    display: none;
  }
}

.navbar>*:first-child
{
  margin-left: 50px !important;
}

.navbar .button
{
  height: 80%;
  cursor: pointer;
  margin: auto 10px;
  padding: 7px 10px;
}


.dropdown
{
  margin-top: auto;
  margin-bottom: auto;
  cursor: default !important;
  height: auto;
  padding: 0;
}

.dropdown .button
{
  width: 100%;
  z-index: 1;
  margin: auto;
  padding: 7px 0;
}

.dropdown-content .button
{
  padding: 10px 0;
}

.dropdown-content li:first-child
{
  padding-top: 20px;
}

.dropdown-content
{
  overflow: hidden;
  min-width: 150px;
  height: 0px;
  transition: height 0.5s;
  margin: 0;
  padding: 0 20px 0 0;
  text-decoration: none;
  list-style-type: none;
  position:absolute;
}

.dropdown:hover .dropdown-content
{
  height: 500px;
  display: flexbox;
  z-index: 0;
}

.dropdown-content li
{
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  background-color: var(--button-d);
}

.dropdown-content li:last-child
{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 10px;
}

.dropdown-content li .button
{
  border-radius: 0px;
}
