@import "./Button.css";
@import "./Colors.css";
@import "./Components.css";
@import "./Icons.css";
@import "./Page.css";
@import "./Utilities.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*
{
  box-sizing: border-box;
  font-family: 'Comfortaa';
  user-select: text;
}

#root
{
  z-index: -1000; 
  position:absolute; 
  width: 100%;
}