.content .topic {
    margin: 10px;
    width: 100%;
}

.content .sections-links,
.content .lessons-links {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.content .sections-links .button,
.content .lessons-links .button {
    margin: 10px;
    padding: 10px;
    font-size: medium;
}

@media screen and (min-width: 800px) {
    .content .sections-links,
    .content .lessons-links {
        flex-flow: wrap;
        justify-content: space-around;
        align-content: center;
    }

    .content .sections-links .button,
    .content .lessons-links .button {
        width: calc(5% + 150px);
        margin: 30px calc(40px - 2vw);
        min-height: calc(10vw + 50px);
    }
}