.home-page .content {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.home-page .content .button {
    margin: 20px 5vw;
    padding: 10px 50px;
    font-size: 24px;
}

@media screen and (min-width: 600px) {
    .home-page .content {
        flex-direction: row;
    }

    .home-page .content .button:nth-child(2) {
        margin-right: 10vw;
    }
}