@import "../../Style/Colors.css";
.content {
    flex-basis: 50%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.content .button {
    margin: 20px 5vw;
    padding: 10px 50px;
    font-size: 24px;
}

@media screen and (min-width: 600px) {
    .content {
        flex-direction: row;
    }

    .content .button:nth-child(2) {
        margin-right: 10vw;
    }
}