@import "../../Style/Colors.css";

.header.main-page-header
{
    padding: 0;
    margin-top: 0;
}

.header.main-page-header img
{
    object-fit: contain;
    margin: 0;
    padding: 0;
    height: calc(15vh + 10vw);
}

/* .change-theme
{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 35px;
}

#light-theme
{
    color: var(--light);
}

#dark-theme
{
    color: var(--dark);
} */
