.home-page .navbar {
  position:static;
  flex-basis: 20%;
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  padding: 10px;
  background-color: transparent;
}

.home-page .navigation .button
{
  text-align: left;
}

.home-page .logo {
  width: calc(50px + 15vw);
  margin: 0 auto;
}

.dark .home-page .logo.light,
.home-page .logo
{
  display: block;
}

.dark .home-page .logo,
.home-page .logo.light
{
  display: none;
}

.home-page .dropdown button {
  font-size: 30px;
  display: inline;
  color: var(--button-primary);
}


.home-page .dropdown button>i,
.home-page .dropdown button {
  display: block;
}

.home-page .navigation,
.home-page .theme-toggle-wrapper
{
  flex-basis: 20%;
}

.home-page .theme-toggle
{
  float: right;
}