.navbar {
  position:static;
  flex-basis: 20%;
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  padding: 10px;
}


.logo {
  width: calc(50px + 15vw);
  margin: 0 auto;
}

.dark .logo.light,
.logo
{
  display: block;
}

.dark .logo,
.logo.light
{
  display: none;
}

.dropdown.navigation button {
  font-size: 30px;
  flex-basis: 10%;
  display: inline;
  color: var(--button-primary);
}


.dropdown.navigation i,
.dropdown.navigation button {
  display: block;
}

.navigation .options {
  font-size: 20px;
}

.theme-toggle
{
  flex-basis: 10%;
  justify-self: flex-end;
}

@media (max-width: 600px) {
  .main-page-navbar .button:not(.search):not(:last-child) {
    margin: auto 3px;
  }
}