.unis-page .content
{
    z-index: 1;
    padding: 0;
    scroll-behavior: smooth;
}


.unis-page .home {
    margin-right: auto;
}

.uni
{
    padding: 10px;
    padding-bottom: 30px;
    color: var(--primary);
    font-weight: bold;
    border: 3px solid var(--primary);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.uni .title
{
    color: var(--secondary);
    font-size: 20px;
    margin: 25px 30%;
    font-weight: bold;
}

.uni a
{
    display: block;
    color: var(--secondary);
}

.uni-general
{
    align-items: center;
    margin: 0 4vw;
}

.uni-general::after
{
    content: '';
    clear: both;
    display: block;
}

.uni-general img
{
    width: 40%;
    margin-right: 4vw;
    float: left;
}


.uni-general .description
{
    font-size: calc(10px + 0.5vw);
    width: 100%;
}

.uni .separator
{
    height: 2px;
    width: 90%;
    background-color: var(--primary);
    margin: 20px auto;
}

.uni .spec li
{
    text-align: start;
}