
.unis-page
{
    background-color: var(--background);
    display: grid;
    grid-template-columns: calc(50px + 10%) auto;
    scroll-behavior: smooth;
}


.unis-page>*
{
    grid-column: 1 / 3;
}

.unis-page>.navigation
{
    padding-top: 10px;


    position: sticky;
    top: 60px;
    align-self: baseline;
    
    background-color: var(--important);
    color: var(--text-button-primary);
    font-size: 12px;

    z-index: 10;
}

.unis-page .navigation>a
{
    display: block;
    padding: 5px;
    cursor: pointer;
    opacity: 0.8;
}

.unis-page .navigation>a:hover
{
    opacity: 1;
}

.unis-page .navigation .active
{
    cursor: default;
    opacity: 1;
    background-color: var(--hidden);
    color: var(--important);
}

@media screen and (min-width: 600px)
{
    .unis-page .content
    {
        grid-column: 2 / 3;
    }

    .unis-page>.navigation
    {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        grid-column: 1 / 2;
        top: 100px;
    }
}