@import '../../Style/Colors.css';

.content.test-content
{
    flex-direction: column;
}

.question
{
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}


.question h2
{
    margin: 10px auto;
    display: inline;
}


.option
{
    min-height: 50px;
    position: relative;
    margin: 10px auto;
    display: flex;
    width: 90%;
    border: 1px transparent dashed;
    border-radius: 7px;
    transition: background-color 0.5s;
}

.option:hover
{
    border: 1px #555555 dashed;
    background-color: #aaaaaa;
}

.option h3
{
    margin-top:auto;
    margin-bottom:auto;
}

.option *
{
    display: inline-block;
}

.checkbox
{
    overflow: hidden;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    display: flex;
    margin: auto 10px;
}


#toLesson
{
    display: none;
}

#toNextLesson
{
    display: none;
}

#result
{
    font-size: calc(5vw + 10px);
    margin: 50px;
}

.question input
{
    border-radius: 5px;
    font-size: large;
    resize: none;
    margin-left: 5%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    padding: 5px;
    border-bottom: 1px solid black;
    width: calc(90% - 10px);
}

.free-answer .correctAnswer
{
    background-color: #77ff55;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 87%;
    display: none;
}