@import '../../Style/Colors.css';

.content.test-content
{
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
}

.question
{
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(15px + 0.7vw);

    display: flex;
    flex-direction: column;
    align-content: center;
}

.question input
{
    width: 90%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    outline: none;
    margin: 0px auto 20px auto;

    font-size: calc(10px + 0.7vw);
    resize: none;
}

.question>p
{
    margin: 20px 10px 30px 10px;
}

.question input::-webkit-outer-spin-button,
.question input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (min-width: 600px)
{
    .question
    {
        width: 80%;
    }
}



.option
{
    min-height: 50px;
    position: relative;
    margin: 10px auto;
    display: flex;
    width: 90%;
    border: 1px transparent dashed;
    border-radius: 7px;
    transition: background-color 0.5s;
}

.option:hover
{
    border: 1px #555555 dashed;
    background-color: #aaaaaa;
}

.option p
{
    margin-top:auto;
    margin-bottom:auto;
}

.option *
{
    display: inline-block;
}

.checkbox
{
    overflow: hidden;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    display: flex;
    margin: auto 10px;
}


#result
{
    font-size: calc(5vw + 10px);
    margin: 50px;
}

.free-answer .correctAnswer
{
    background-color: #77ff55;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 87%;
    display: none;
}