.test-page .content
{
    margin-bottom: calc(50px + 5vw);
    align-items: center;
}

.test-page .content>.button
{
    padding: 10px 2vw;
    margin: 20px;
    max-width: 400px;
    min-width: 200px;
}

.test-page .question
{
    width: 100%;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 16px;


    display: flex;
    flex-direction: column;
    align-content: center;
}

.test-page .question .input
{
    font-size: calc(10px + 0.4vw);
} 

.test-page .question>p
{
    font-size: 20px;
    margin: 20px 10px;
    cursor: default;
}

.test-page .question input::-webkit-outer-spin-button,
.test-page .question input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (min-width: 600px)
{
    .test-page .question
    {
        width: 80%;
    }
}



.test-page .option
{
    cursor: pointer;
    min-height: 50px;
    position: relative;
    margin: 10px auto;
    display: flex;
    width: 90%;
    border: 1px transparent dashed;
    border-radius: 7px;
    transition: background-color 0.5s;
}

.test-page .option:hover
{
    border: 1px #555555 dashed;
    background-color: var(--hidden);
}

.test-page .option p
{
    margin-top:auto;
    margin-bottom:auto;
}

.test-page .option *
{
    display: inline-block;
}

.test-page .checkbox
{
    overflow: hidden;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid var(--secondary);
    display: flex;
    margin: auto 10px;
}


.test-page #result
{
    font-size: calc(5vw + 10px);
    margin: 50px;
}

.test-page .free-answer .correctAnswer
{
    background-color: #77ff55;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 87%;
}